<h1>Add a Word</h1>

<p>Add a Word here:</p>

<form action="/word" method="post">
  <label for="word">Word</label>
  <input id="word" name="word" type="text">

  <button type="submit" class="btn btn-success">Submit</button>
</form>
<a href="/">Word List</a>
